PORT=
NODE_ENV=

# DB Config
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# MySQL Config
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

# JWT Config
JWT_SECRET=
JWT_EXPIRES_IN=

# AWS
AWS_ACCESS_KEY_ID=AKIAXXD47Y65GDDQI4SB
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
AWS_BUCKET_NAME=korrectsports-dev
